{% extends "light.twig" %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
<div class="about-logo">
  <h1 class="about">{% trans "About" %}</h1>
</div>
<div id="about">
  <div class="about-content">
    {% include ['about.inc', 'about.inc.dist']  %}
  </div>
</div>
<div class="credits">
  <p>{% if 'SERVICE_NAME' %} <strong>Gent Skosmos</strong> {% else %}Skosmos{% endif %} 
    {% trans "layout designed by <em>Ismail Kutlu</em>" %}
  </p>
</div>
<div class="version">
  <p>{% trans %} <strong>Skosmos version:</strong> {{ version }}{% endtrans %}</p>
</div>
{% endblock %}
